# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production
build/

# env
.env
.env.*
!.env.example
!.env.*.example

# python
__pycache__/

# prompt files
*.prompt.md
